
.info-container{
    width: 95vw;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.info-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    
    /* font-style: italic; */
    text-align: center;

}

.info-text {
    margin-top: 2rem;
    font-size: 1rem;
    margin-bottom: .5rem;
    text-align: left;
}



.nav-link-in-text {
    font-size: inherit;
    /* text-decoration: none; */
    /* background-color: #F7C66A; */
    
}

.info-page {
    max-width: 40rem;
}

.nav-link-in-text:link {
    color: black;
  }

  .nav-link-in-text:visited {
    color: black;
  }

.drinking-game-item {
    text-align: center;
    margin-top: .7rem;    
}

.clear-local-storage-button {
    text-align: center;
    font-size: 1.2rem;
    background-color: #F7C66A; 
    cursor: pointer;
    max-width: 90vw;
    padding: .4rem;
    box-shadow: .2rem .2rem .4rem rgba(22, 22, 22, .5);
}